---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import MainNav from "../components/mainnav.astro";


interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
<Header/>
<MainNav/>

	<main>

	
		<slot />
<!-- the above is where Astro "slots in" content from the relevant pages under the src/pages .astro files -->

		</main>
		<Footer/>
		
	</body>
</html>
