---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Direct Results | Content Editable Tests.">
	<!-- where the main element starts -->
		<h1>Direct Results</h1>

<h2>What you'll see below</h2>
<p> Below you'll find examples of different elements that can utilize the contenteditable attribute. Let us know if you have further ideas as to how to best demonstrate the content editable attribute.
</p>

<h3>Example 1</h3>
<p> Example 1 allows the user to enter text.</p>
<h3>Example 2</h3>
<p>Example 2 allows the user to save the edited data to a text file</p>
<h3>Example 3</h3>
<p>Example 3 will show the RTF editor.</p>



</Layout>
