---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Home | Content Editable Tests.">
	<!-- where the main element starts -->
		<h1>Welcome to <span class="text-gradient">Content Editable Tests</span></h1>
		<h2>MDN definition</h2>
		<p>
		<a href="mozilla.org/en-US/docs/Web/HTML/Global_attributes/contenteditable">Explore</a>
</p>

<h2>Tests</h2>

<h3>Test 1 with block quote</h3>
<blockquote contenteditable="true">
  <p>Edit this content to add your own quote</p>
</blockquote>

<cite contenteditable="true">-- Write your own name here</cite>

<h3>Details</h3>
<p>Looks like the designMode attribute might be a key to success? Lot's of things to research below.
Look at <a href="https://html.spec.whatwg.org/multipage/interaction.html#contenteditable">A third party opinion</a> for more detail:
</p>
<p>
An editing host is either an HTML element with its contenteditable attribute in the true state or plaintext-only state, or a child HTML element of a Document whose design mode enabled is true.
</p>

<!-- </main> commenting out the "main element" so that it's not duplicated in the DOM. It's defined in the layout.astro file -->

</Layout>
