---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Content Editable Tests.">
	<!-- where the main element starts -->
		<h1>Welcome to <span class="text-gradient">Content Editable Tests</span></h1>
		<h2>MDN definition</h2>
		https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/contenteditable

<h3>Test 1 with block quote</h3>
<blockquote contenteditable="true">
  <p>Edit this content to add your own quote</p>
</blockquote>

<cite contenteditable="true">-- Write your own name here</cite>

<h3>Details</h3>
Looks like the designMode attribute might be a key to success? Lot's of things to research below.
Look at https://html.spec.whatwg.org/multipage/interaction.html#contenteditable for greater detail:

6.8.1 Making document regions editable: The
same page link contenteditable
content attribute
§
visited heading level 4 same page link
6.8.2 Making entire documents editable: the
same page link designMode
getter and setter
§
heading level 4 same page link
6.8.3 Best practices for in-page editors
§
heading level 4 same page link
6.8.4 Editing APIs
§
heading level 4 same page link
heading level 4 same page link §
An editing host is either an
Link HTML element
with its
same page link contenteditable
attribute in the true state or plaintext-only state, or a
Link child
Link HTML element
of a
Link Document
whose
same page link design mode enabled
is true.
The definition of the terms
6.8.5 Spelling and grammar checking
§
heading level 4 same page link...



<h2>Learning Astro</h2>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
			<p>Significantly tweaked, methinks.</p>
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul>
	<!-- </main> commenting out the "main element" so that it's not duplicated in the DOM. It's defined in the layout.astro file -->

</Layout>
