/* this style is just a reminder that REM units of measure are based on the user's  default size */
html {
    font-size: 1em;
}

main{
margin: 10%;
}

main article h1 {
    font-family: "Century Gothic", "Apple Gothic", "Avant Garde", Futura,Helvetica,sans-serif;
}
/* Inches and points unit of measures are used because these forms will be printed */
/* the following style probably needs to change to each type of document being printed  */
#input-group1 {
width: 3.25in;
height: 5.5in;
}  

#input-group2 {
    width: 3.25in;
    height: 5.5in;
    }  

.input-groups {
    margin: 0;
    padding: 1rem; /* must be 0 in the print stylesheet */
    border: 5px solid gray; /* Probably want this to be null in print stylesheet */
    background-color: #EFEFEF; /* may be changed when user selects  a print theme */
    overflow-y: hidden;  /* be sure to have a live region where clipped text gets announced */
}

.input-label  {
    margin: 1rem 0 0.5rem 0;
    padding: 0;
font-family: Arial, Helvetica, sans-serif;
font-size: 1.2rem;
font-weight: bold;
letter-spacing: 2px;
}

.input-block{
    margin: 0;   /* many of these values may change according to the print theme selected */
    padding: 0.5rem;
    border: 4px solid gray;
    text-align: center;
    caret-color: black;
    background-color: white;
}

h3.input-block {
    font-size: 42pt;
}

p.input-block {
    font-size: 18pt;
}

.input-block:focus  {
outline: dimgray medium;
}


    