<header>
<p>We should add a skip to main content link here</p>
<p>We should add a logo here</p>
<!-- image/logo? -->
<p>Put in relevant text to inspire other folks to research?</p>
<p>List to relevant projects</p>
<ul>
<li><a href="">Other Projects</a></li>
<li><a href="">And more?</a></li>
</ul>
</header>