<nav aria-label="Main">
<ul>
<li><a href="./">Home</a></li>
<li><a href="./directresults.html">Direct Results</a></li>
<li><a href="./learningastro.html">Learning Astro</a></li>

</ul>
</nav>
